@import '../../../../variables.scss';

.header {
    &-bg {
        background-color: #ffe0cc;
        border-bottom: 3px solid $primary;
    }
    &-line {
        border: 1px solid $dark;
        height: 40px;
        width: 1px;
        display: inline-block;
    }

    &-user {
        width: 30px;
        height: 30px;
        display: inline-block;
        background-color: $dark;
        border-radius: 100%;
    }

    &-drowdown:hover {
        background-color: #0000000c;                
    }
}