$font-family-base: 'Anuphan', sans-serif;
$headings-font-family: 'PT Sans', sans-serif;

$primary:#ff7b24;
$secondary:#6c757d;
$success:#198754;
$danger:#dc3545;
$info:#3c56fc;
$warning:#ffc107;
$light:#e5ecec;
$dark:#3c3c3c;
$spacer:1rem;
$border-width:1px;
$btn-border-radius:.2rem;